parameters:
	ignoreErrors:
		-
			message: "#^Method SimPod\\\\DoctrineUtcDateTime\\\\Tests\\\\DateTimeTypeTestCaseBase\\:\\:platform\\(\\) should return Doctrine\\\\DBAL\\\\Platforms\\\\AbstractPlatform but returns class@anonymous/tests/DateTimeTypeTestCaseBase\\.php\\:28\\|class@anonymous/tests/DateTimeTypeTestCaseBase\\.php\\:34\\.$#"
			count: 1
			path: tests/DateTimeTypeTestCaseBase.php
